@model MVCDrugStoreManager.Models.NHAN_VIEN

@{
    ViewBag.Title = "Chitietnv";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết nhân viên</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Loại nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "SuaNV", new { id = Model.MaNV }) |
    @Html.ActionLink("Back to List", "Employee")
</p>
