@model MVCDrugStoreManager.Models.KHACH_HANG

@{
    /**/

    /**/

    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="text-align:center">Đăng ký</h2>
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*Họ tên*@
        <tr style="height:40px">
            <td> Họ tên khách hàng:</td>
            <td>
                @Html.TextBox("HhotenKH")
                @ViewData["Loi1"]
            </td>
        </tr>
        @*Tên đăng nhập*@
        <tr style="height:40px">
            <td> Tên đăng nhập:</td>
            <td>
                @Html.TextBox("TenDN")
                @ViewData["Loi2"]
            </td>
        </tr>
        @*Mật khẩu*@
        <tr style="height:40px">
            <td> Mật khẩu:</td>
            <td>
                @Html.TextBox("Matkhau")
                @ViewData["Loi3"]
            </td>
        </tr>
        @*Nhập lại mật khẩu*@
        <tr style="height:40px">
            <td> Mật khẩu nhập lại:</td>
            <td>
                @Html.TextBox("Matkhaunhaplai")
                @ViewData["Loi4"]
            </td>
        </tr>
        @*Email*@
        <tr style="height:40px">
            <td> Email:</td>
            <td>
                @Html.TextBox("Email")
                @ViewData["Loi5"]
            </td>
        </tr>
        @*Địa chỉ*@
        <tr style="height:40px">
            <td> Địa chỉ:</td>
            <td>
                @Html.TextBox("Diachi")
            </td>
        </tr>
        @*Điện thoại*@
        <tr style="height:40px">
            <td> Điện thoại:</td>
            <td>
                @Html.TextBox("Dienthoai")
                @ViewData["Loi6"]
            </td>
        </tr>

        <tr class="form-group">
            <td class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng ký" class="btn btn-default" /> |
                <button>
                    @Html.ActionLink("Back to List", "Index")
                </button>
            </td>
        </tr>
    }
</table>

