@using MVCDrugStoreManager.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MVCDrugStoreManager.Models.SAN_PHAM>

@{
    /**/

    ViewBag.Title = "Drug";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@helper Truncate(string input, int length)
{
    /**/
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

<h1 style="font-weight:bold; text-align:center">Quản lý thông tin thuốc</h1>
<div style="padding:20px 0 0 30px">
    <a href="@Url.Action("Themmoisp", "Admin")" style="background-color:lawngreen; color:black; padding:10px; font-weight:bold">
        Thêm mới
    </a>
</div>
<br>
<table id="customers" align="center" style="width:1150px">
    <tr>
        <th style="width:200px ;text-align:center"> Tên thuốc </th>
        <th style="width:150px ;text-align:center"> Loại thuốc </th>
        <th style="width:80px ;text-align:center"> Số lượng  </th>
        <th style="width:80px ;text-align:center"> Đơn giá </th>
        <th style="width:200px ;text-align:center"> Mô tả </th>
        <th style="text-align:center"> Ảnh minh họa </th>
        <th style="width:250px ;text-align:center"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.LOAI_SAN_PHAM.TenLoai)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td style="text-align:center">
                $ @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td style="text-align:center">
                @Truncate(item.MoTa, 50)
            </td>
            <td style="text-align:center">
                <img src="@Url.Content("~/images/" + item.Images)" style="width:150px;height:150px;" />
            </td>
            <td style="text-align:center; height:40px">
                <a href="@Url.Action("Suasp","Admin", new { id = item.MaSP})" style="padding:5px ;color:black; background-color:yellow; font-weight:bold; text-align:center">
                    Sửa
                </a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="@Url.Action("Chitietsp","Admin", new { id = item.MaSP })" style="padding:5px ;color:black; background-color:deepskyblue; font-weight:bold; text-align:center">
                    Chi tiết
                </a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="@Url.Action("Xoasp","Admin", new { id = item.MaSP })" style="padding:5px ;color:black; background-color:orangered; font-weight:bold; text-align:center">
                    Xóa
                </a>
            </td>
        </tr>
    }
</table>

<div class="MenuTrang" style="padding:20px 0 0 30px">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Drug", new { page = page }))
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</div>