@model MVCDrugStoreManager.Models.KHACH_HANG

@{
    ViewBag.Title = "Xoakh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center; font-weight:bold">Xóa thông tin khách hàng</h1>
<h2 style="text-align:center; font-weight:bold">Bạn có muốn xóa thông tin khách hàng này ?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        @*Tên khách hàng*@
        <dt>
            Tên khách hàng :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>
        @*Địa chỉ*@
        <dt>
            Địa chỉ :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        @*SĐT*@
        <dt>
            SĐT :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>
        @*Email*@
        <dt>
            Email :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @*IDLogin*@
        <dt>
            IDLogin
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDLogin)
        </dd>
        <br>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-default" /> |
                    <button>@Html.ActionLink("Trở về", "Customers", "Admin")</button>
                </div>
            }
        </dd>
    </dl>
</div>
