@model MVCDrugStoreManager.Models.KHACH_HANG

@{
    /**/

    /**/

    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h1 style="text-align:center; font-weight:bold">Đăng ký tài khoản</h1>
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*Họ tên khách hàng*@
        <tr style="height:40px">
            <td style="text-align:right">
                Họ tên khách hàng :
            </td>
            <td>
                &nbsp; &nbsp;@Html.TextBox("HotenKH")
                @ViewData["Loi1"]
            </td>
        </tr>
        @*Tên đăng nhập*@
        <tr style="height:40px">
            <td style="text-align:right">
                Tên đăng nhập :
            </td>
            <td>
                &nbsp; &nbsp;@Html.TextBox("TenDN")
                @ViewData["Loi2"]
            </td>
        </tr>
        @*Mật khẩu*@
        <tr style="height:40px">
            <td style="text-align:right">
                Mật khẩu :
            </td>
            <td>
                &nbsp; &nbsp;@Html.Password("Matkhau")
                @ViewData["Loi3"]
            </td>
        </tr>
        @*Nhập lại mật khẩu*@
        <tr style="height:40px">
            <td style="text-align:right">
                Mật khẩu nhập lại :
            </td>
            <td>
                &nbsp; &nbsp;@Html.Password("Matkhaunhaplai")
                @ViewData["Loi4"]
            </td>
        </tr>
        @*Email*@
        <tr style="height:40px">
            <td style="text-align:right">
                Email :
            </td>
            <td>
                &nbsp; &nbsp;@Html.TextBox("Email")
                @ViewData["Loi5"]
            </td>
        </tr>
        @*Địa chỉ*@
        <tr style="height:40px">
            <td style="text-align:right">
                Địa chỉ :
            </td>
            <td>
                &nbsp; &nbsp;@Html.TextBox("Diachi")
            </td>
        </tr>
        @*Điện thoại*@
        <tr style="height:40px">
            <td style="text-align:right">
                Điện thoại :
            </td>
            <td>
                &nbsp; &nbsp;@Html.TextBox("Dienthoai")
                @ViewData["Loi6"]
            </td>
        </tr>

        <tr style="height:40px">
            <td style="text-align:right">
                <input type="submit" value="Đăng ký" class="btn btn-default" />
            </td>
            <td>
                &nbsp; &nbsp;&nbsp; &nbsp;<a class="btn btn-default" href="@Url.Action("Index","DrugStore")">Trở về</a>
            </td>
        </tr>
    }
</table>

