@model MVCDrugStoreManager.Models.CHI_TIET_DON_DAT_HANG

@{
    ViewBag.Title = "ChitietDDH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div>
    <h1 style="font-weight:bold; text-align:center">Chi tiết đơn đặt hàng</h1>

    <hr />
    <dl class="dl-horizontal">
        @*Khách hàng*@
        <dt>
            Mã khách hàng :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DON_DAT_HANG.MaKH)
        </dd>
        @*Sản phẩm*@
        <dt>
            Sản phẩm :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SAN_PHAM.TenSP)
        </dd>
        <dt>
            Đơn vị tính :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DVT)
        </dd>
        @*Số lượng*@
        <dt>
            Số lượng :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        @*Đơn giá*@
        <dt>
            Đơn giá :
        </dt>
        <dd>
            $ @String.Format("{0:0.00}", Model.DonGia)
        </dd>
        <br>
        <dd>
            <button>
                @Html.ActionLink("Trở về", "PayBill")
            </button>
        </dd>
    </dl>
</div>

