@using MVCDrugStoreManager.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MVCDrugStoreManager.Models.DON_DAT_HANG>

@{
    ViewBag.Title = "PayBill";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-weight:bold;text-align:center">Quản lý đơn đặt hàng</h1>

<table id="customers" align="center" style="width:1150px">
    <tr>
        <th style="text-align:center">
            Mã đơn hàng
        </th>
        <th style="text-align:center">
            Mã khách hàng
        </th>
        <th style="text-align:center">
            Ngày lập đơn
        </th>
        <th style="text-align:center">
            Tình trạng
        </th>
        <th style="text-align:center"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.MaDDH)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.NgayLapDon)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.TinhTrangDonHang.TinhTrang)
            </td>
            <td style="text-align:center">
                <a href="@Url.Action("ChitietDDH","Admin", new { id = item.MaDDH })" style="padding:5px ;color:black; background-color:deepskyblue; font-weight:bold">
                    Chi tiết
                </a>
            </td>
        </tr>
    }

</table>

<div class="MenuTrang" style="padding:20px 0 0 30px">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("PayBill", new { page = page }))
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</div>