@model MVCDrugStoreManager.Models.SAN_PHAM

@{
    ViewBag.Title = "Chitietsp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <dl class="dl-horizontal">
        @*Tên sản phẩm*@
        <dt>
            Tên sản phẩm :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>
        @*Loại sản phẩm*@
        <dt>
            Loại sản phẩm :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LOAI_SAN_PHAM.TenLoai)
        </dd>
        @*Đơn vị tính*@
        <dt>
            Đơn vị tính :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DVT1.TenDVT)
        </dd>
        @*Số lượng tồn*@
        <dt>
            Số lượng tồn :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        @*Đơn giá*@
        <dt>
            Đơn giá :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonGia) $
        </dd>
        @*Ngày cập nhật*@
        <dt>
            Ngày cập nhật
        </dt>
        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.NgayCapNhat)
        </dd>
        @*Mô tả*@
        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd style="width:600px;text-align:justify">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        @*Hình ảnh*@
        <dt>
            Hình ảnh :
        </dt>
        <dd>
            <img src="@Url.Content("~/images/"+ Model.Images)" width="120" />
        </dd>
        @*Button*@
        <dt>
            <button>
                @Html.ActionLink("Sửa", "Suasp", new { id = Model.MaSP })
            </button> |
            <button>
                @Html.ActionLink("Trở về", "Drug")
            </button>
        </dt>
    </dl>
</div>

