@model IEnumerable<MVCDrugStoreManager.Models.CHI_TIET_DON_DAT_HANG>

@{
    ViewBag.Title = "PayBill";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-weight:bold">Quản lý đơn hàng</h1>

<table class="table" border="1" style="width:1150px;text-align:center">
    <tr>
        <th>
            DVT
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Đơn giá
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DVT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
