
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Drug Store</title>
    <meta name="description" content="Scarica gratis il nostro Template HTML/CSS GARAGE. Se avete bisogno di un design per il vostro sito web GARAGE può fare per voi. Web Domus Italia">
    <meta name="author" content="Web Domus Italia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style/slider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style/mystyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style/contactstyle.css">
</head>

<body>
    <!-- Header -->
    <div class="allcontain">
        <div class="header" style="background-color:limegreen">
            <ul class="socialicon" style="font-size:15pt">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <ul class="givusacall" style="color:black; font-weight:bold; font-size:15pt">
                <li>Give us a call : +66666666 </li>
            </ul>
            @if (Session["Taikhoan"] == null)
            {
                <ul class="logreg">
                    <li><a href="@Url.Action("DangNhap", "User")" style="font-weight:bold; font-size:15pt">LOGIN </a> </li>
                    <li><a href="@Url.Action("DangKy", "User")" style="font-weight:bold; font-size:15pt"><span class="register">RESIGNTER</span></a></li>
                </ul>
            }
            else
            {
                <ul class="logreg">
                    <li style="font-weight:bold; font-size:15pt; color:black">Hello, @Session["HoTen"].ToString() | <a href="@Url.Action("DangXuat", "User")" style="color:black; font-weight:bold; font-size:15pt">LOGOUT </a> </li>
                </ul>
            }
        </div>
        <!-- Navbar Up -->
        <nav class="topnavbar navbar-default topnav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
                        <span class="sr-only"> Toggle navigaion</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="#"><img src="~/images/druglogo1.png" alt="logo" style="width: 125px ; height: 125px; "></a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="upmenu">
                <ul class="nav navbar-nav" id="navbarontop" style="font-weight:bold">
                    <li class="active"><a href="@Url.Action("Index","DrugStore")">HOME</a> </li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdowncostume">
                                <li><a href="#">Sport</a></li>
                                <li><a href="#">Old</a></li>
                                <li><a href="#">New</a></li>
                            </ul>
                        </li>*@
                    @Html.Action("loaiSP", "DrugStore")
                    <li>
                        <a href="@Url.Action("Contact","DrugStore")">CONTACT</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AboutUs","DrugStore")">ABOUT US</a>
                    </li>
                    <li>
                        @Html.Action("GiohangPartial", "GioHang")
                    </li>
                    @if (Session["Taikhoan"] != null)
                    {
                        <li>
                            <a href="@Url.Action("DonDatHang","GioHang")">YOUR BILL</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
    <!--_______________________________________ Carousel__________________________________ -->
    <div class="allcontain">
        <div id="carousel-up" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner " role="listbox">
                <div class="item active">
                    <img src="~/images/pill banner.jpg" alt="oldcar" style="width: 1366px ; height: 400px;">
                    <div class="carousel-caption">
                        @*<h2>Porsche 356</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur ,<br>
                                sed do eiusmod tempor incididunt ut labore
                            </p>*@
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/index-banner-2.jpg" alt="porche" style="width: 1366px ; height: 400px;">
                    <div class="carousel-caption">
                        @*<h2>Porche</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur ,<br>
                                sed do eiusmod tempor incididunt ut labore
                            </p>*@
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/banner - 1.jpg" alt="benz" style="width: 1366px ; height: 400px; ">
                    <div class="carousel-caption">
                        @*<h2>Car</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur ,<br>
                                sed do eiusmod tempor incididunt ut labore
                            </p>*@
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarmidle" style="background-color:limegreen">
                <div class="searchtxt">
                    <h1 style="font-weight:bold; color:black">Search by name</h1>
                </div>
                <form class="navbar-form navbar-left searchformmargin" role="search">
                    <div class="form-group">
                        @using (Html.BeginForm("Index", "DrugStore", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
                        {
                            <p style="text-align:center">
                                <input type="text" class="form-control searchform" placeholder="KEY WORD" name="SearchString" style="width:500px; height:45px; background-color:darkslategrey; color:white">
                                <input type="submit" value="Search" style="background-color:burlywood; color:black; font-weight:bold; width:120px; height:45px" />
                            </p>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ____________________Featured Section ______________________________-->
    <div class="allcontain">
        <div>
            @RenderBody()
        </div>
        <!-- ______________________________________________________Bottom Menu ______________________________-->
        <div class="bottommenu">
            <div class="footer" style="background-color:limegreen; color:black; font-weight:bold">
                <div class="copyright">
                    &copy; Copy right 2016 | <a href="#" style="color:blue">Privacy </a>| <a href="#" style="color:blue">Policy</a>
                </div>
                <div class="atisda">
                    Designed by <a href="http://www.webdomus.net/" style="color:blue; font-weight:bold">Web Domus Italia - Web Agency </a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Content/source/bootstrap-3.3.6-dist/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/source/js/isotope.js"></script>
    <script type="text/javascript" src="~/Content/source/js/myscript.js"></script>
    <script type="text/javascript" src="~/Content/source/bootstrap-3.3.6-dist/js/jquery.1.11.js"></script>
    <script type="text/javascript" src="~/Content/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>
</html>

