@using MVCDrugStoreManager.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SAN_PHAM>

@{
    /**/

    /**/
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- ____________________Featured Section ______________________________-->
<div class="allcontain">
    <!-- ________________________LATEST CARS SECTION _______________________-->
    <div class="latestcars">
        <h1 class="text-center" style="font-weight:bold">&bullet; OUR  DRUGS &bullet;</h1>
        <ul class="nav nav-tabs navbar-left latest-navleft">
            <li role="presentation" class="li-sortby"><span class="sortby">SORT BY: </span></li>
            <li data-filter=".RECENT" role="presentation"><a href="#mostrecent" class="prcBtnR">MOST RECENT </a></li>
            <li data-filter=".POPULAR" role="presentation"><a href="#mostpopular" class="prcBtnR">MOST POPULAR </a></li>
            <li role="presentation"><a href="#" class="alphSort">ALPHABETICAL </a></li>
            <li data-filter=".HPRICE" role="presentation"><a href="#" class="prcBtnH">HIGHEST PRICE </a></li>
            <li data-filter=".LPRICE" role="presentation"><a href="#" class="prcBtnL">LOWEST  PRICE </a></li>
            <li id="hideonmobile">
        </ul>
    </div>
    <br>
    <br>
    <!-- ________________________Latest Cars images Thumbnail________________-->
    <div class="grid">
        <div class="row">
            @foreach (var pro in Model)
            {<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="txthover">
                        <img src="~/images/@pro.Images" alt="car1" style="width:350px;height:350px">
                        <div class="txtcontent">
                            <div class="stars">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                            <div class="simpletxt">
                                <h3 class="name">@pro.TenSP</h3>
                                <p>
                                    @pro.MoTa
                                </p>
                                <h4 class="price">$ @String.Format("{0:0.00}", pro.DonGia)</h4>
                                <a href="@Url.Action("Details", "DrugStore", new { id = pro.MaSP })" class="list-group-item" style="width:100px; text-align:center; float:left; background-color:white; font-weight:bold; color:black">
                                    Details
                                </a>
                                <a href="@Url.Action("ThemGioHang", "GioHang", new { @iMaSP = pro.MaSP, @strURL=Request.Url.ToString() }) " class="list-group-item" style="width:110px; text-align:center; float:right; background-color:limegreen; font-weight:bold; color:black">
                                    Add to Cart
                                </a>
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="stars2">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount*@
    <div class="MenuTrang" style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
    <!-- _______________________________News Letter ____________________-->
    @*<div class="newslettercontent">
            <div class="leftside">
                <img src="~/images/border.png" alt="border">
                <h1>NEWSLETTER</h1>
                <p>
                    Subscribe to the COLLECTIONCARS mailing list to <br>
                    receive updates on new arrivals, special offers <br>
                    and other discount information.
                </p>
            </div>
            <div class="rightside">
                <img class="newsimage" src="~/images/newsletter.jpg" alt="newsletter">
                <input type="text" class="form-control" id="subemail" placeholder="EMAIL">
                <button>SUBSCRIBE</button>
            </div>
        </div>*@
    <!-- ______________________________________________________Bottom Menu ______________________________-->
    <div class="bottommenu">
        <div class="bottomlogo" style="font-size:15pt">
            <span class="dotlogo">&bullet;</span><img src="~/images/headlinelogo.jpg" alt="logo1" style="height:300px; width:500px"><span class="dotlogo">&bullet;;</span>
        </div>
        @*<ul class="nav nav-tabs bottomlinks">
                <li role="presentation"><a href="#/" role="button">ABOUT US</a></li>
                <li role="presentation"><a href="#/">CATEGORIES</a></li>
                <li role="presentation"><a href="#/">PREORDERS</a></li>
                <li role="presentation"><a href="#/">CONTACT US</a></li>
                <li role="presentation"><a href="#/">RECEIVE OUR NEWSLETTER</a></li>
            </ul>*@
        <h1 style="text-align:center; font-weight:bold ;color:darkolivegreen">
            Visit us here 
        </h1>
        <img src="~/images/line.png" alt="line"> <br>
        <div class="bottomsocial">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
</div>

<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<!-- /.row -->
<!-- /.col-lg-9 -->
